.focus {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  padding: 2rem;

  border: 0.1rem solid var(--dark-border);
  border-radius: 2.4rem;

  background: var(--dark-surface-2);
  color: white;

}
