.sidebar {
  width: 30rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-right: 0.1rem solid var(--dark-border);
}

h1 {
  font-size: 2rem;
  color: var(--dark-text);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}

.menu {
  list-style: none;
  width: 100%;
  color: var(--dark-text-secondary);
}

.itens {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  color: var(--dark-muted);
  transition:
    0.3s,
    color 0.3s;
  gap: 1.5rem;
}

.itens i,
a {
  color: var(--dark-muted);
  transition: color 0.3s;
  font-size: 1.8rem;
}

.itens:hover {
  background: var(--dark-surface-2);
  color: var(--color-primary);
}

.theme {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: auto;
  border: 0.1rem solid var(--dark-border);
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 0.1rem solid var(--dark-border);
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
}
