.theme {
  width: 100%;
  background: var(--dark-surface-4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: auto;
  border: 0.1rem solid var(--dark-border);
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
}

.theme i {
  color: var(--dark-text-secondary);
  font-size: 1.8rem;
}

.themeText {
  font-size: 1.4rem;
  color: var(--dark-text-secondary);
}
